.sectionproject{
    height: 100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ProjectContainer{
    height: 52vh;
    width: 100%;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProjectContent{
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}